*{
    margin: 0;
}
/* contenitore per il pattern  */
.contenitore{
    height: 180px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);

}

/* impostazione logo  */
.logo{
    width: 300px;
    height: 180px;
    margin-top: 30px;
}

.margine{
    margin-left: 4px;
}
/* sottolineato */

.testo-evidenziato{
    background-color: yellow;
}

.padding{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* spazio per le foto  */
.foto1{
    color: white;
    width: 312px;
    height: 208px;
    background-image: url(../img/monitor.jpg);
    margin-bottom: 20px;
}
.foto2 {
    color: white;
    width: 312px;
    height: 208px;
    background-image: url(../img/monitor.jpg);
}
