*{
    margin: 0;
}
/* contenitore per il pattern  */
.contenitore{
    height: 180px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);

}

/* impostazione logo  */
.logo{
    width: 300px;
    height: 180px;
    margin-top: 30px;
}

header{
    margin: 4px;
}

